.key-indicator {
    overflow: hidden;
    .list {
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        height: 110px;
        line-height: 110px;
    }
    .item {
        display: inline-block;
        // float: left;
        width: 20%;
        vertical-align: middle;
        text-align: center;
    }
    .item-mobile {
        display: inline-block;
        // float: left;
        width: 25%;
        vertical-align: middle;
        text-align: center;
    }
    :global {
        .tile-body {
            overflow: hidden;
            padding: 0;
        }
        .chart {
            height: 210px;
        }
    }
}

.key {
    height: 20px;
    color: #70C3FB;
    font-size: 13px;
    line-height: 20px;
}

.value {
    padding: 0 5px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
}
