.key-indicator {
    overflow: hidden;
    .list {
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        height: 155px;
        line-height: 155px;
    }
    .item {
        // float: left;
        width: 20%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
    :global {
        .tile-body {
            overflow: hidden;
        }
    }
}

.key {
    height: 20px;
    color: #70C3FB;
    font-size: 13px;
    line-height: 20px;
}

.value {
    padding: 0 5px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
}
