@charset "utf-8";

@h-w: 55px;

body {
    background:         radial-gradient(50% 50%,#2A61A1,#1E4879);
    background: -webkit-radial-gradient(50% 50%,#2A61A1,#1E4879);/*chrome*/
    background:     -ms-radial-gradient(50% 50%,#2A61A1,#1E4879);/*Ie*/
}
html {
    position: relative;
}

aside .flex {
    position: absolute;
    bottom: 140px;
    width: 100%;
    height: 20px;
    text-align: center;
}
aside .flex a {
    position: relative;
    z-index: 99;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #224872;
    color: #4D77BC;
    font-size: 10px;
    line-height: 22px;
}
aside .flex a i.fa-chevron-left {
    margin-left: -3px;
}
aside .flex a i.fa-chevron-right {
    margin-left: 2px;
}

aside .flex a:hover {
    background: #103C69;
}
.expand .flex:before {
    position: absolute;
    bottom: 9px;
    left: 10px;
    z-index: 90;
    width: 140px;
    height: 1px;
    background: rgba(22, 69, 118, .9);
    content: "";
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 905;
    width: 100%;
    height: @h-w;
    //background: rgba(74, 132, 198, 0.2);
    background: #1F528C;
    #logo-group {
        position: relative;
        z-index: 99;
        float: left;
        width: 160px;
        height: 55px;
        #logo {
            display: block;
            float: left;
            margin: 10px 0 0 20px;
            width: 98px;
            height: 32px;
            background: url("../images/logo.png") no-repeat;
        }
        .arrow-right {
            position: absolute;
            top: 20px;
            left: 135px;
            width: 13px;
            height: 14px;
            background: url("../images/block_icon.png") 0 0 no-repeat;
            cursor: pointer;
        }
        .arrow-right:hover {
            background-position: 0 -14px;
        }
    }
    .click .arrow-right {
        display: block;
    }
    .un-click .arrow-right {
        display: block;
    }
    #logo-group:hover .arrow-right {
        display: block;
    }
    .current {
        position: absolute;
        top: 0;
        left: 160px;
        padding: 10px 20px 0;
        height: 55px;
        color: #6AC5FE;
        h2 {
            font-size: 16px;
        }
    }
    .product {
        position: absolute;
        top: 0;
        left: 160px;
        z-index: 90;
        height: 55px;
        background: #2362AA;
        box-shadow: 0 0 0 rgba(0,0,0,.3),
        3px 0 5px rgba(0,0,0,.3),
        0 0 0 rgba(0,0,0,.3),
        0 0 0 rgba(0,0,0,.3);
        li {
            position: relative;
            float: left;
            padding: 11px 30px 0;
            height: 55px;
            color: #45B9EE;
            cursor: pointer;
            &:hover {
                background: #2271B5;
                color: #FFFFFF;
            }
            &.active:before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background: #1EB9EE;
                content: "";
            }
            h2 {
                font-weight: normal;
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
            a {
                display: block;
            }
        }
    }
    .menu-list {
        float: right;
        padding: 15px 20px;
        height: 55px;
        color: #4693BF;
        .message-icon {
            display: inline-block;
            float: left;
            width: 25px;
            height: 25px;
            background: url("../images/message.png") 0 3px no-repeat;
        }
        .quest-answer-icon {
            display: inline-block;
            float: left;
            width: 25px;
            height: 25px;
            background: url("../images/questAnswer.png") 0 3px no-repeat;
        }
        .home-icon {
            display: inline-block;
            float: left;
            width: 25px;
            height: 25px;
            background: url("../images/home.png") 0 0 no-repeat;
        }
        .ant-dropdown {
            top: 80px!important;
            margin-top: -25px;
            .ant-dropdown-menu {
                border: none;
                border-radius: 0;
                background: #245FA3;
                .ant-dropdown-menu-item {
                    padding: 12px;
                    border-bottom: 1px solid rgba(0,0,0,.2);
                    border-radius: 0;
                    a {
                        color: #4693BF;
                    }
                }
                .ant-dropdown-menu-item-active {
                    background: #1EB8EC;
                    a {
                        color: #FFFFFF;
                    }
                }
            }
            .ant-dropdown-menu-item-divider {
                background-color: #1D5695;
            }
        }
        .mesg-content {
            padding: 20px;
            width: 340px;
            color: white;
            white-space: normal;
            word-wrap: break-word;
            font-weight: 100;
            font-size: 12px;
            span.left {
                float: left;
                color: #5D99DD;
            }
            span.right {
                float: right;
                color: #5D99DD;
            }
            .detail {
                margin: 10px;
                color: #78FFEE;
            }
        }
        .mesg-content-more {
            width: 340px;
            height: 36px;
            color: #0E9CE0;
            text-align: center;
            font-size: 14px;
            line-height: 36px;
        }
    }
    .menu-list:hover {
        background: #1EB8EC;
        color: #FFFFFF;
        .message-icon {
            background: url("../images/message.png") 0 -22px no-repeat;
        }
        .quest-answer-icon {
            background: url("../images/questAnswer.png") 0 -22px no-repeat;
        }
        .home-icon {
            background: url("../images/home.png") 0 -25px no-repeat;
        }
    }
    .user-group {
        float: right;
        margin-right: 10px;
        padding: 15px 20px;
        color: #6AC5FE;
        line-height: 25px;
        .user-icon {
            display: inline-block;
            float: left;
            margin-right: 10px;
            width: 25px;
            height: 25px;
            background: url("../images/user_icon.png") 0 0 no-repeat;
        }
        .user-name {
            display: inline-block;
            margin-right: 10px;
            font-size: 14px;
            line-height: 25px;
        }
        .fa-angle-down {
        }
        .ant-dropdown {
            top: 80px!important;
            margin-top: -25px;
            .ant-dropdown-menu {
                border: none;
                border-radius: 0;
                background: #245FA3;
                .ant-dropdown-menu-item {
                    padding: 12px;
                    border-radius: 0;
                    a {
                        color: #4693BF;
                    }
                }
                .ant-dropdown-menu-item-active {
                    background: #1EB8EC;
                    a {
                        color: #FFFFFF;
                    }
                }
            }
            .ant-dropdown-menu-item-divider {
                background-color: #1D5695;
            }
        }
    }
    .user-group:hover {
        background: #1EB8EC;
        color: #FFFFFF;
        .user-icon {
            background-position: 0 -25px;
        }
    }
}
.header-dropdown-list {
    position: relative;
    float: right;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    list-style: none;
}

.header-dropdown-list a.dropdown-toggle {
    color: #FFFFFF;
    text-decoration: none;
}
.header-dropdown-list > li > .dropdown-toggle {
    display: block;
    margin-top: 19px;
}

#left-panel,
#logo-group {
    -webkit-transition: 250ms cubic-bezier(.1,.57,.1,1);
            transition: 250ms cubic-bezier(.1,.57,.1,1);
    -webkit-transform: translate(0px,0) translateZ(0px);
}

#left-panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 55px;
    color: #FFFFFF;
}

aside {
    display: block;
    min-height: 100%;
    background: rgba(0,0,0,.2);
    nav ul {
        margin: 0;
        padding-top: 45px;
        width: 100%;
        list-style: none;
        font-size: 13px;
        line-height: .5em;
        //position: relative;
        li {
            position: relative;
            margin-bottom: 20px;
            padding: 7px 25px;
            height: 34px;
            line-height: 34px;
            &:hover {
                background: rgba(108, 164, 205, .15);
            }
            &.active {
                background: rgba(108, 164, 205, .15);
                color: #FFFFFF;
            }
            &.active:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 5px;
                height: 100%;
                background: #1EB9EE;
                content: "";
            }
            a {
                position: relative;
                display: block;
                overflow: hidden;
                padding: 0 10px;
                height: 20px;
                color: #6CA4CD;
                text-decoration: none!important;
                font-weight: 400;
                font-size: 14px;
                line-height: normal;
                &:hover {
                    color: #FFFFFF;
                }
                > i {
                    margin: 3px 0 0 1px;
                    padding: 1px;
                }
                .menu-item-parent {
                    position: absolute;
                    top: 1px;
                    left: 50px;
                }
            }
        }
    }
    nav ul .active > a {
        position: relative;
        color: #FFFFFF!important;
    }
}
.unexpand {
    #left-panel {
        width: 45px;
        ul {
            li {
                padding: 7px 0;
                text-align: center;
                a span {
                    display: none;
                }
                .fa-lg {
                    margin: 3px 0 0 1px;
                    padding: 1px;
                }
            }
        }
    }
    #main {
        margin-left: 45px;
    }
    #header {
        #logo-group {
            width: 45px;
            .arrow-right {
                position: absolute;
                top: 11px;
                left: 6px;
                width: 33px;
                height: 32px;
                background: url("../images/logo_s.png") no-repeat;
            }
            .arrow-right:hover {
                background: url("../images/block_b_icon.png") center no-repeat;
            }
            #logo {
                display: none;
            }
        }
        .current,
        .product {
            left: 45px;
        }
    }
}
#main {
    //position: absolute;
    //right: 0;
    //left: 0;
    //top: 0;
    //bottom: 0;
    position: relative;
    margin-top: 55px;
    margin-left: 160px;
    padding: 20px;
    min-width: 1040px;
    color: #FFFFFF;
    //-webkit-transition: 250ms cubic-bezier(0.1,.57,.1,1);
    //transition: 250ms cubic-bezier(0.1,.57,.1,1);
    //-webkit-transform: translate(0px,0) translateZ(0px);
}


#header > :first-child,
aside {
    width: 160px;
}

@media (max-width: 979px) {
}

@media (max-width:1200px) {
    .expand {
        #header {
            #logo-group {
                width: 45px;
                .arrow-right {
                    position: absolute;
                    top: 11px;
                    left: 6px;
                    width: 33px;
                    height: 32px;
                    background: url("../images/logo_s.png") no-repeat;
                }
                .arrow-right:hover {
                    background: url("../images/block_b_icon.png") center no-repeat;
                }
                #logo {
                    display: none;
                }
            }
            .current {
                left: 45px;
            }
            .product {
                left: 45px;
            }
        }
    }
}
@media (max-width:1200px) {
    .expand {
        #left-panel {
            width: 45px;
            ul {
                li {
                    padding: 7px 0;
                    text-align: center;
                    a span {
                        display: none;
                    }
                }
            }
        }
        #main {
            margin-left: 45px;
        }
        .flex {
            display: none;
        }
    }
}

