// .apdex-chart {
//     width: 40%;
//     display: inline-block;
//     border-left: 20px solid transparent;
//     display: inline-block;
// }

.user-trend {
    display: inline-block;
    width: 100%;
    :global {
        .tile-body {
            padding: 0;
        }
        .chart {
            height: 210px;
        }
    }
}