.trend {
    .trend-head {
        padding: 0;
        & > div {
            float: left;
            width: 25%;
            text-align: center;
            cursor: pointer;
            transition: .2s;
            &.active {
                background-color: #1D6AA7;
                cursor: default;
            }
        }
    }
    .emptyText{
        color: #4b8fba;
        font-size: 15px;
        padding: 8px 30%;
        height: 150px;
        line-height: 150px;
    }
    .trend-body {
        padding: 0;
        :global(.chart) {
            height: 230px;
        }
    }
}

