@import '../../../assets/styles/_mixin';
$var_default:(color1:#1D6AA7,color2:#4b8fba);
$var_white:(color1: #2669ce,color2:#6c7480);

@mixin getTheme($map){
    .trend {
        .trend-head {
            padding: 0;
            & > div {
                float: left;
                width: 25%;
                text-align: center;
                cursor: pointer;
                transition: .2s;
                &.active {
                    background-color: map-get($map,color1);
                    color: #fff;
                    cursor: default;
                }
            }
        }
        .emptyText{
            color: map-get($map,color2);
            font-size: 15px;
            padding: 8px 30%;
            height: 150px;
            line-height: 150px;
        }
        .trend-body {
            padding: 0;
            :global(.chart) {
                height: 230px;
            }
        }
    }
}

@include setTheme($var_default,$var_white);


