.trend {
    .trend-head {
        padding: 0;
        & > div {
            float: left;
            width: 25%;
            text-align: center;
            cursor: pointer;
            transition: .2s;
            &.active {
                background-color: #1D6AA7;
                cursor: default;
            }
        }
    }
    .trend-body {
        padding: 0;
        :global(.chart) {
            height: 230px;
        }
    }
}

