.apdex-chart {
    display: inline-block;
    display: inline-block;
    width: 40%;
    border-left: 20px solid transparent;
}

.performance-trend {
    display: inline-block;
    width: 60%;
    :global {
        .tile-body {
            padding: 0;
        }
        .chart {
            height: 210px;
        }
    }
}

.apdex-chart {
    :global {
        .tile-body {
            padding: 0;
        }
        .chart {
            height: 210px;
        }
    }
}