html {
    font-family: ”微软雅黑”, “Helvetica Neue”, Helvetica, STHeiTi, Arial, sans-serif;

    -webkit-text-size-adjust: 100%; 
        -ms-text-size-adjust: 100%;
}
body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; 
    margin: 0;
    height: 100%;
    color: #333333;
    font-size: .6rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
a {
    background: transparent;
    color: #333333; 
    text-decoration: none;
}
a:active {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: normal;
}
img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}
* {
    outline: none;

    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input,
textarea,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: ”微软雅黑”, “Helvetica Neue”, Helvetica, STHeiTi, Arial, sans-serif;
}
textarea {
    resize: none;
}
table {
    border-spacing: 0; 
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
    margin: 0;
}
ul,
ol,
li,
dl,
dd {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
i,
em {
    font-weight: normal;
    font-style: normal;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #CCCCCC;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #CCCCCC;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #CCCCCC;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    height: 0;
    content: ".";
    font-size: 0;
    line-height: 0;
}
.clearfix {
    display: inline-block;
}
*html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
}