.color-type {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    vertical-align: middle;
    font-size: 0;
}

.color-type0 {
    background-color: #FC615D;
}
.color-type1 {
    background-color: #F19D5A;
}
.color-type2 {
    background-color: #D98989;
}
.color-type3 {
    background-color: #F9F364;
}
.color-type4 {
    background-color: #7499E1;
}
.color-type5 {
    background-color: #7CCF6E;
}
.color-type6 {
    background-color: #937AD1;
}