.detail-wrap {
    position: relative;
    height: 100%;
    .hideBtn{
        margin-right : -3px;
        margin-top: -35px;
        // font-Size: 22px;
        &:hover {
            cursor: pointer;
            color: #3999dd;
        }
    }
}

.detail-content {
    overflow-y: auto;
    padding: 0 10px;
    height: 100%;
    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }
}