.tableProgress {
    // .common-popover{
    //     :global{
    //         .ant-popover{
    //             .ant-popover-inner{
    //                 background: red;
    //             }
    //         }
    //     }
    // }
    >.title {
        width: 50px;
        // float: left;
    }
    >.progress {
        float: left;
        .per {
            display: inline-block;
            overflow: hidden;
            height: 10px;
        }
    }
}

.overlay {
    .popover {
        background: #183a61;
        height: 25px;
        line-height: 25px;
        min-width: 150px;
        border-radius: 2px;
        // :global(ant-popover){
            
        //             min-width: 177px;
        //             background-color: #183a61;
        //             background-clip: padding-box;
        //             border: 1px solid #183a61;
        //             border-radius: 6px;
        //             box-shadow: 0 1px 6px #142e4e;
            
            
            
        // }
        .marker-colol {
            height: 15px;
            width: 5px;
            display: inline-block;
            margin: -3px 7px;
        }
        .marker-title span {
            margin-right: 10px;
            float: right;
        }
    }
}

.error-list {
    .bar {
        float: left;
        position: relative;
        width: 2px;
        margin-right: 2px;
        background-color: #fff;
    }
    :global{
        .ant-popover-arrow{
            border-right-color: #183a61;
        }
        .ant-popover-inner {
            min-width: 230px;
            background-color: #183a61;
            background-clip: padding-box;
            border: 1px solid #183a61;
            border-radius: 6px;
            box-shadow: 0 1px 6px #142e4e;
            .ant-popover-inner-content {
                padding: 8px 16px;
                color: #fff;
                background: #183a61;
            }
        }
    }
}
// .errorBarpopver{
//     transform-origin: -4px 52.5284px 0px;
//     :global{
//         .ant-popover-arrow{
//             border-right-color: #183a61;
//         }
//         .ant-popover-inner {
//             min-width: 177px;
//             background-color: #183a61;
//             background-clip: padding-box;
//             border: 1px solid #183a61;
//             border-radius: 6px;
//             box-shadow: 0 1px 6px #142e4e;
//             .ant-popover-inner-content {
//                 padding: 8px 16px;
//                 color: #fff;
//                 background: #183a61;
//             }
//         }
//     }
// }
.mr20 {
    
}