.side-panel-wrap {
    position: relative;
}
.side-panel-item {
    position: fixed;
    top: 75px;
    right: -70%;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    width: 70%;
    background-color: #145E99;
    box-shadow: 2px 8px 20px -5px #000000;
    opacity: 0;
    transition: right .7s, opacity .3s;
    &.active {
        right: 0;
        opacity: 1;
    }
}