// @import "../../../assets/styles/mixin";
// $var_default: ( color1: #0C5087);
// $var_white: ( color1: red);

// @mixin getTheme($map) {
    .app-item {
        float: left;
        margin-bottom: 24px;
        margin-left: 4.1%;
        width: 30.6%;
        border-radius: 8px;
        box-shadow: 5px 5px 10px -8px #000000;
        transition: .2s;
        &:nth-child(3n+1) {
            margin-left: 0;
        }
        &:hover {
            box-shadow: 5px 5px 15px -8px #000000;
        }
        a {
            display: block;
        }
    }
    .title {
        position: relative;
        height: 50px;
        border-radius: 8px 8px 0 0;
        background: url("../../../assets/images/AppList/app-title.png") center no-repeat;
        background-size: cover;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 50px;
    }
    .content {
        padding-top: 35px;
        height: 126px;
        border-radius: 0 0 8px 8px;
        background-color: #0C5087;
        dl {
            float: left;
            margin-left: 5%;
            width: 30%;
            text-align: center;
            &:first-child {
                margin-left: 0;
            }
            dd {
                &:nth-child(1) {
                    color: #57ABE2;
                    font-size: 13px;
                }
                &:nth-child(2) {
                    font-size: 30px;
                }
            }
            i {
                margin-right: 5px;
            }
        }
    }
    .tag {
        position: absolute;
        top: 12px;
        left: -8px;
        display: block;
        width: 85px;
        height: 34px;
        text-indent: -10px;
        font-weight: normal;
        font-size: 12px;
        line-height: 26px;
    }
    .tag-0,
    .tag--1,
    {
        background: url("../../../assets/images/AppList/app-tag-gray.png") center no-repeat;
    }
    .tag-1 {
        background: url("../../../assets/images/AppList/app-tag-green.png") center no-repeat;
    }
    .option {
        position: absolute;
        top: 0;
        right: 0; // font-size: 0;
        width: 60px;
        height: inherit;
        border-radius: 0 6px 0 0;
        line-height: 50px !important;
        &.active {
            background-color: #0D60A2;
            box-shadow: inset 25px 0 10px -30px #000000;
        } // i {
        //     margin-left: 5px;
        // }
    }
    .list {
        position: absolute;
        top: 50px;
        right: 0;
        overflow: hidden;
        height: 0;
        border-radius: 0 0 8px 8px;
        background-color: #0D60A2;
        box-shadow: 0 5px 10px -8px #000000;
        transition: .3s;
        li {
            width: 110px;
            height: 35px;
            font-weight: normal;
            font-size: 12px;
            line-height: 35px;
            &:hover {
                background-color: #1EB9EF;
            }
        }
        &.active {
            height: 105px;
        }
    }
// }

// @include setTheme($var_default,$var_white);