.control-bar {
    padding: 0 10px;
    height: 50px;
    background-color: #1C426E;
    color: #FFFFFF;
    line-height: 50px;
}

.options {
    float: right;
    :global {
        .btn {
            padding: 0 10px;
            height: 30px;
            font-size: 13px;
            line-height: 30px;
            i,
            span {
                vertical-align: middle;
            }
            .iconfont {
                color: inherit;
            }
        }
    }
}

.col-option {
    padding: 20px;
    background-color: #226EAF;
    color: #FFFFFF;
    dt {
        margin: 10px 0;
        font-weight: bold;
        &:first-child {
            margin-top: 0;
        }
    }
}

.checkbox-group {
    width: 320px;
    font-size: 12px;
    :global {
        .ant-checkbox-wrapper {
            width: 33.333%;
            height: 25px;
            line-height: 25px;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}