@import "../../../assets/styles/mixin";

.tab-table {
    position: relative;
    :global {
        .ant-table-placeholder {
            display: none;
        }
        .ant-table-tbody > tr > td {
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
    }
}

.tab-header {
    height: 40px;
    background-color: #153253;
    line-height: 40px;
    :global {
        .btn {
            border-radius: 0;
            background-color: inherit;
        }
    }
    .tab-active {
        background-color: #1D6AA7;
        cursor: default;
    }
}

.tab-placeholder {
    margin: 20px 0;
    color: #FFFFFF;
    text-align: center;
}

.control-bar {
    padding: 0 10px;
    height: 50px;
    background-color: #1C426E;
    color: #FFFFFF;
    line-height: 50px;
}

.filter {
    // float: right;
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
}

.options {
    float: right;
    :global {
        .btn {
            padding: 0 10px;
            height: 30px;
            font-size: 13px;
            line-height: 30px;
            i,
            span {
                vertical-align: middle;
            }
            .iconfont {
                color: inherit;
            }
        }
    }

    .not-allow {
        background-color: #666666;
        cursor: not-allowed;
    }
}

.col-option {
    padding: 20px;
    width: 350px;
    background-color: #226EAF;
    color: #FFFFFF;
    font-size: 12px;
    :global {
        .ant-checkbox-wrapper {
            width: 33.333%;
            height: 25px;
            line-height: 25px;

            @include toe;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
    dt {
        margin: 10px 0;
        font-weight: bold;
        &:first-child {
            margin-top: 0;
        }
    }
}

