@import "../../../assets/styles/mixin";
$var_default: (color1: #153253,color2: #1D6AA7, color3: none,color4: #fff,color5: #1C426E,
color6:#0D5990,color7: #41A4E2,color8:#1E76AE, color9:#07476F,color10:#0D3F67,color11:#153253,
color12:#57C5F7,color13:#316cad,color14:#4386B9,color15:rgba(0, 15, 30, 0.4),color16:#108ee9,
color17:#108ee9,color18:#226EAF,color19:#07476F,color20:#276490,color21:#2277C3,color22: #112f4f,
color23: #4386B9,color24:#104B7B,color25:#4b8fba,color26:#0081c2
);
$var_white: (color1: #f6f9fb,color2:#fff,color3: 1px solid #d5ddeb,color4: #6c7480,color5:#fff,
color6:#fff,color7: #d5ddeb,color8:#acb3bf, color9:#e9edf2,color10:#fff,color11:#fff,
color12:#6c7480,color13: #f2f7ff,color14:#d5ddeb,color15:#fff,color16:#fff,
color17:#4082e6,color18:#fff,color19:#4082e6,color20:#adb3bf,color21:#4082e6,color22: #fff,
color23: #d5ddeb,color24:#fff,color25: #4082e6,color26:#4082e6
);

@mixin getTheme($map){
    .tab-table {
        position: relative;
        :global {
            .ant-table-placeholder {
                display: none;
            }
            .ant-table-tbody > tr {
                background-color: map-get($map,color10);
            }
            .ant-table-tbody > tr:nth-child(even) {
                background-color: map-get($map,color24);
            }
            .ant-table-tbody > tr:hover {
                background-color: map-get($map,color13) !important;
            }
            .ant-table-tbody > tr > td {
                text-align: left;
                cursor: pointer;
                border-bottom: map-get($map,color3);
                color: map-get($map,color4);
            }
            .ant-table-thead > tr > th {
                background: map-get($map,color11);
                color: map-get($map,color12);
                border-bottom: map-get($map,color3);
                padding: 10px;
                text-align: left;
            }
            .ant-pagination-prev , .ant-pagination-next,.ant-pagination-jump-next {
                border: 1px solid map-get($map,color23);
                // border-radius: 0 !important;
                background: map-get($map,color22);
                color: #5D8AB9;
            }
            // .ant-pagination-prev,.ant-pagination-item,.ant-pagination-next {
            //     border: 1px solid map-get($map,color14);
            //     border-radius: 0;
            //     background-color: map-get($map,color15);
            // }
            .ant-pagination-item-active a{
                color:map-get($map,color4);
            }
            .ant-pagination-item {
                border: 1px solid map-get($map,color23);;
                border-radius: 0;
                background-color: map-get($map,color22);
            }
            .ant-pagination-item-active{
                background-color:map-get($map,color16);
                border-color: map-get($map,color17);
            }
            .ant-checkbox-disabled .ant-checkbox-inner {
                border-color: map-get($map,color8) !important;
                background-color: map-get($map,color9);
            }
        }
    }
    
    .tab-header {
        height: 40px;
        background-color: map-get($map,color1);
        line-height: 40px;
        border: map-get($map,color3);
        color: map-get($map,color4);
        // font-weight: bold;
        :global {
            .btn {
                border-radius: 0;
                background-color: inherit;
                color:map-get($map,color4);
            }
        }
        .tab-active {
            background-color: map-get($map,color2);
            cursor: default;
            border: map-get($map,color3);
        }
    }
    
    .tab-placeholder {
        margin: 20px 0;
        color: map-get($map,color25);
        text-align: center;
    }
    
    .pointButton{
        padding: 7px 20px;
        background:map-get($map,color26);
        border-radius: 3px;
        color: #fff;
        width: 100px;
        font-size: 14px;
        margin: auto;
        margin-top: 10px;
    }
    .control-bar {
        padding: 0 10px;
        height: 50px;
        background-color: map-get($map,color5);
        color: map-get($map,color4);
        line-height: 49px;
        border: map-get($map,color3);
        :global{
            .ant-input {
                border: 1px solid map-get($map,color7);
                border-radius: 2px;
                background-color: map-get($map,color6);
                color: map-get($map,color4);
            }
        }
        .userInput{
            display: inline;
            // .userSelect{

            // }
            .userTraceSelect{
                float: left;
                margin-top: 10px;
                border: 1px solid #41a4e2;
                height: 30px;
                :global(.ant-select-selection){
                    background-color: #1d6aa7;
                    // border: 1px solid #41a4e2;
                    color: #f7f7f7;
                    border-radius: 0px;
                }
            }
            // .search{
            //     margin-top: 10px;
            // }

            :global{
                .ant-input-affix-wrapper{
                    margin-top: 10px;


                }
                .ant-select ant-select-enabled{
                    float: left;
                    margin-top: 10px;
                    background: red;
                    border: 1px red solid;
                }
            }    
            
        }
    }
    
    .filter {
        // float: right;
        display: inline-block;
        margin-right: 10px;
        height: 30px;
        font-size: 13px;
        line-height: 30px;
        :global{
            .ant-checkbox-inner {
                border: 1px solid map-get($map,color8);
                background-color: map-get($map,color9);
            }
            .ant-checkbox-checked .ant-checkbox-inner {
                border-color: map-get($map,color20) !important;
                background-color: map-get($map,color21) !important;
            }
        }
    }
    
    .options {
        float: right;
        :global {
            .btn {
                padding: 0 10px;
                height: 30px;
                font-size: 13px;
                line-height: 30px;
                color:#fff;
                i,
                span {
                    vertical-align: middle;
                }
                .iconfont {
                    color: inherit;
                }
            }
        }
    
        .not-allow {
            background-color: #666666;
            cursor: not-allowed;
        }
    }
    
    .col-option {
        padding: 20px;
        width: 350px;
        background-color: map-get($map,color18);
        color:  map-get($map,color4);
        font-size: 12px;
        :global {
            .ant-checkbox-wrapper {
                width: 33.333%;
                height: 25px;
                line-height: 25px;
    
                @include toe;
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
            .ant-checkbox-inner{
                border: 1px solid map-get($map,color9);
                background-color: map-get($map,color19);
            }
            .ant-checkbox-disabled .ant-checkbox-inner{
                background-color:map-get($map,color19);
                border-color:map-get($map,color9);
            }
            .ant-checkbox-checked .ant-checkbox-inner {
                background-color:map-get($map,color19);
                border-color:map-get($map,color9);
            }
        }
        dt {
            margin: 10px 0;
            font-weight: bold;
            &:first-child {
                margin-top: 0;
            }
        }
    }
  
    
    
}
@include setTheme($var_default, $var_white);

