@import '../../../assets/styles/_mixin';
$var_default:(color1:#1681c4 );
$var_white:(color1:#4082e6);

@mixin getTheme($map){
    .pointButton {
        width: 112px;
        height: 30px;
        background: map-get($map,color1);
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        margin-left: 23px;
        border-radius: 3px;
        margin-top: 10px;

        .icon-maidian{
            color: #fff;
            // display: none;
        }
        // .icon-maidian:before{
        //     color: #fff;
        // }
        a {
            color: #fff;
            padding-left: 3px !important;
            display: inline-block !important;
            i,span {
                vertical-align: middle;
                color: #fff;
                position: relative;
                top: -2px;
            }
            &:hover {
                background-color: transparent !important;
                // color: green !important;
            }
        }
    }
    
    @media screen and (max-width: 1200px) {
        .pointButton {
            width: 30px;
            margin-left: 10px;
            a {
                position: relative;
                left: 0px;
                width: 30px;
                top: -37px;
            }
            a:first-child {
                // display: none;
                font-size: 0;
            }
        }
    }
    
    :global(.unexpand) {
        .pointButton {
            width: 30px;
            margin-left: 10px;
            a {
                position: relative;
                left: 0px;
                width: 30px;
                top: -37px;
            }
            a:first-child {
                // display: none;
                font-size: 0;
            }
        }
    }
    
}
@include setTheme($var_default, $var_white)
