.menu {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 55px;
    width: 160px;
    height: 100%;
    border-right: 1px solid transparent;
    background-color: #183A61;
    // & > a {
    //     &:first-child {
    //         margin-bottom: 20px;
    //     }
    // }
    ul:not(:nth-child(2)) {
        li {
            &:first-child {
                display: block;
                margin-left: 3px;
                margin-left: 28px;
                padding: 10px 0;
                color: #3887B9;
                cursor: pointer;
            }
        }
    }
    a {
        display: block;
        height: 30px;
        color: #74AFD9;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        transition: .2s;
        i,
        span {
            vertical-align: middle;
        }
        &.current {
            position: relative;
            background-color: #153454;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 4px;
                height: inherit;
                background-color: #03A9F3;
                content: "";
            }
        }
        &:hover {
            background-color: #153454;
            color: #6CA4CD;
        }
        :global {
            .iconfont {
                margin-right: 5px;
            }
        }
    }
}

.platform {
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
    :global {
        .iconfont {
            color: #FFFFFF;
        }
    }
    li {
        display: inline-block;
        margin-left: 12px;
        width: 30px;
        height: 30px;
        border: 2px solid #122A46;
        border-radius: 50%;
        background: #132E4E;
        box-shadow: 0 0 0 4px #163457;
        text-align: center;
        line-height: 26px;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        &.disabled {
            color: #999999;
            opacity: .5;
            cursor: default;
        }
        &.active {
            border: 2px solid #03A9F3;
            background: #14507E;
            box-shadow: 0 0 0 4px #163457;
        }
    }
    i {
        font-size: 21px;
    }
}