@import '../../../assets/styles/_mixin';
$var_default: (color1:#183A61, color2:#74AFD9,color3:#153454,color4:#fff,color5:#74AFD9,color6:#6CA4CD,color7:#fff,color8:#14507E,color9:#03A9F3,color10:#163457,
color11: #122A46,color12:#132E4E,color13: #163457,color14:#1d4676,color15:#5E8BBD,color16:rgba(22,69,118,.9),
color17:#224872,color18:#4D77BC,color19:#1D6AA7,color20:#fff,color21:#41A4E2,color22:#0D5990,color23:#1d4676,color24:#2DB7F5,color25:#1C426B,color26:#2DB7F5

);
$var_white: (color1: #fff, color2:#828b99,color3:#f2f7ff,color4:#4082e6,color5:#acb3bf,color6:#4082e6,color7:#9ea0b5,color8:#3e7fe5,color9:#326fdf,color10:#c5d9f7,
color11: #ebeef1,color12:f3f5f9, color13:#e1e4e9,color14:#fff,color15:#4082e6,color16:#e9edf2,
color17:#e9edf2,color18:#828b99,color19:#fff,color20:#6c7480,color21:#e4e7eb,color22:#fff,color23:#d9d9d9,color24:#6c7480,color25:#f2f7ff,color26:#4082e6
);

@mixin getTheme($map){
    :global(.unexpand) {
        .menu {
            width: 50px;
            a {
                padding-left: 15px;
                font-size: 0;
            }
            .menu-list {
                li:first-child {
                    display: none;
                }
            }
        }
        .platform {
            a {
                padding-left: 0;
                margin-left: 0;
                &:not(.active) {
                    display: none;
                }
            }
        }
        .apps-select {
            display: none;
        }
        .setting-expand {
            :global(.fa) {
                transform: rotate(180deg);
            }
        }
    }
        
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        overflow-y: auto;
        box-sizing: border-box;
        padding-top: 75px;
        width: 160px;
        height: 100%;
        border-right: 1px solid transparent;
        background-color: map-get($map, color1);
        // & > a {
        //     &:first-child {
        //         margin-bottom: 20px;
        //     }
        // }
        :global{
            .ant-select-dropdown{
                background:map-get($map,color19);
                
            }
            .ant-select-dropdown-menu-item{
                color: map-get($map,color24);
                &:hover{
                    background-color: map-get($map,color25);
                    color: map-get($map,color26);
                }
                :global{
                    .iconfont{
                        color: map-get($map,color20);
                    }
                }
                .newAdd{
                    color: map-get($map,color20);
                    
                }
            }
        }
        .menu-list {
            li {
                a {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &:first-child {
                    display: block;
                    margin-left: 3px;
                    margin-left: 20px;
                    padding: 10px 0;
                    color: map-get($map,color5);
                    font-size: 13px;
                    cursor: default;
                }
            }
        }
        a {
            display: block;
            // text-align: center;
            padding-left: 36px;
            height: 30px;
            color: map-get($map, color2);
            font-size: 14px;
            line-height: 30px;
            transition: background .2s;
            i,
            span {
                vertical-align: middle;
            }
            &.current {
                position: relative;
                background-color: map-get($map,color3);
                color: map-get($map,color4);
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 4px;
                    height: inherit;
                    background-color: #03A9F3;
                    content: "";
                }
            }
            &:hover {
                background-color: map-get($map,color3);
                color: map-get($map,color6);
            }
            :global {
                .iconfont {
                    margin-right: 5px;
                }
            }
        }
    }
    .create-app-form-wrap {
        padding: 20px;
        background: map-get($map,color19);
        color: map-get($map,color20);
         :global(.ant-form-item) {
        //      .ant-input {
        //         background: red;
        //      }
         }
    }
    .input-style{
        border: 1px solid map-get($map,color21);
        background-color: map-get($map,color22);
        color:  map-get($map,color20);
    }
    .create-app-success-tip {
        margin: 10px auto 40px auto;
        text-align: center;
        line-height: 23px;
        font-size: 16px;
        color: #fff;
        .success-icon {
            &:before {
                color: #65da1a
            }
        }
    }
    .create-app-title {
        line-height: 30px;
    }
    .btn-wrap {
        margin-top: 20px;
        text-align: center;
        line-height: 35px;
         :global(.btn) {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .btn-wrap-success {
        padding-bottom: 20px;
        text-align: center;
        line-height: 35px;
         :global(.btn) {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
   
    
    .apps-select {
        padding: 10px 0;
        text-align: center;
        :global {
            .ant-select-selection {
                border: 1px solid map-get($map,color23);
                background-color: map-get($map,color14);
                color: map-get($map,color15); 
            }
            .ant-select-selection--single {
                height: 30px;
                position: relative;
                // cursor: pointer;
                line-height: 30px;
                border-radius: 0px;
            }    
            .ant-select-selection__placeholder {
                color: #5e8bbd;
                margin-top: -8px;
            }
        }
    }
    
    
    .platform {
        margin: 10px 0;
        padding: 0 10px;
        text-align: center;
        :global {
            .iconfont {
                color: map-get($map, color7);
            }
        }
        a {
            display: inline-block;
            margin-left: 12px;
            padding-left: 0;
            width: 30px;
            height: 30px;
            border: 2px solid map-get($map,color11);
            border-radius: 50%;
            background:  map-get($map,color12);
            box-shadow: 0 0 0 4px map-get($map,color13);
            text-align: center;
            line-height: 26px;
            cursor: pointer;
            &:first-child {
                margin-left: 0;
            }
            &.disabled {
                color: #999999;
                opacity: .5;
                cursor: default;
            }
            &.active {
                border: 2px solid map-get($map,color9);
                background: map-get($map,color8);
                box-shadow: 0 0 0 4px map-get($map,color10);
                :global{
                    .iconfont {
                        color:#fff;
                    }
                }
            }
            i {
                margin-right: 0 !important;
                font-size: 21px;
            }
        }
    }
    
    .setting-other-wrap {
        position: absolute;
        bottom: 20px;
        width: 100%;
        .changeTheme{
            background: map-get($map,color1); 
            height: 25px;
            font-size:15px;
            color: map-get($map,color2);
            padding-left: 40px;
            margin-bottom: 6px;
            // display: none;
        }
        .setting-expand {
            margin-bottom: 25px;
            height: 1px;
            background-color: map-get($map,color16);
            text-align: center;
            :global {
                .fa {
                    position: relative;
                    top: -10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: map-get($map,color17);
                    color: map-get($map,color18);
                    text-align: center;
                    font-size: 10px;
                    line-height: 20px;
                    cursor: pointer;
                }
            }
    
        }
    }
    
    @media screen and (max-width: 1200px) {
        // .setting-other-wrap {
        //     a:first-child {
        //         display: none;
        //     }
        // }    
        .setting-expand {
            display: none;
        }
    
        .menu {
            width: 50px;
            a {
                padding-left: 15px;
                font-size: 0;
            }
            .menu-list {
                li:first-child {
                    display: none;
                }
            }

        }
        .platform {
            a {
                margin-left: 0;
                &:not(.active) {
                    display: none;
                }
            }
        }
        .apps-select {
            display: none;
        }
        
        
        .setting-expand {
            :global(.fa) {
                transform: rotate(180deg);
            }
        }

    
    }
    
    @media screen and (max-height: 760px) {
        .menu {
            .menu-list {
                li:first-child {
                    display: none;
                }
            }
        }
    }
    
    @media screen and (max-height: 600px) {
        .setting-other-wrap {
            position: static;
            bottom: 0;
            padding-top: 20px;
        }
    }    
}

@include setTheme($var_default,$var_white);
