
// @import "../../../assets/styles/mixin";
// $var_default: ( color1: #0C5087);
// $var_white: ( color1: red);
// @mixin getTheme($map){
    .apps {
    overflow: hidden;
    padding-left: 8px;
    height: 600px;
    }
    .appList-pagination {
        margin-top: 10px;
        :global{
            .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
                color: #5D8AB9 !important;
                background-color: #112f4f !important;
                border: 0px !important;
            }
            // .ant-pagination-item-link{
            //     color: #5D8AB9 !important;
            //     background-color: #112f4f !important;
            //     border: 0px; 
            // }
        }
    }
// }
// @include setTheme($var_default, $var_white);
