.metrics {
    padding: 20px;
    background-color: #125389 !important;
}


.props {
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 13px;
    dl {
        float: left;
        overflow: hidden;
        dt,
        dd {
            float: left;
            margin-right: 12px;
        }
        &:first-child {
            width: 30%;
        }
        &:last-child {
            width: 70%;
            dd {
                color: #70C3FB;
                :global {
                    .ant-select{
                        width: 500px !important;
                    }
                    .ant-select-selection {
                    // margin-left: 12px;
                    // width: 320px;
                    border-radius: 1px ;
                    }
                    // :global{
                    //     .ant-select{
                    //         .ant-select-dropdown {
                    //             background-color: #1D6AA7;
                    //             left: 696px ;
                    //             top: 162px ;
                    //             width: 260px;
                    //         }
                    //     }
                        
                    // }
                }
            }
        }
    }
}
.list {
    overflow: hidden;
    margin-left: -8px;
    li {
        float: left;
        width: 33.333%;
        height: 50px;
        border-left: 8px solid transparent;
        line-height: 50px;
        margin-top: 10px;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            margin-top: 0;
        }

        dl {
            overflow: hidden;
            padding: 0 20px;
            background-color: #0A497B;
        }
        .key {
            float: left;
            width: 90px;
            color: #70C3FB;
            font-size: 14px;
        }
        .value {
            overflow: hidden;
            margin-left: 90px;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
        }
    }
}