.timing {
    :global(.tile-body) {
        font-size: 0;
    }
    .dns {
        background-color: #1F71D6;
    }
    .connect {
        background-color: #00C0FF;
    }
    .redirect {
        background-color: #0391F4;
    }
    .request {
        background-color: #626FEF;
    }
    .response {
        background-color: #9E7AF9;
    }
    .domLoading {
        background-color: #66DC6A;
    }
    .domComplete {
        background-color: #22B645;
    }
    .load {
        background-color: #25EADE;
    }
}

.timgin-col {
    overflow: hidden;
    margin-left: -15px;
    dl {
        position: relative;
        float: left;
        padding-top: 35px;
        width: 33.333%;
        border-left: 15px solid transparent;
        font-size: 12px;
        dt {
            text-align: center;
            span:nth-child(2) {
                margin-left: 15px;
                font-size: 18px;
            }
        }
        span {
            position: relative;
            z-index: 2;
            display: inline-block;
            height: inherit;
            vertical-align: middle;
            line-height: inherit;
            transition: .7s;
            transition-delay: .6s;
        }
        // &:nth-child(1) {
        // }
        // &:nth-child(2) {
        // }
        // &:nth-child(3) {
        // }
    }
    .col-wrap {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 32px;
        font-size: 0;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            border: 1px dashed #70C3FB;
            content: "";
            opacity: .7;
        }
    }
}

.timeline-list {
    // position: absolute;
    // right: 20px;
    // bottom: 10px;
    overflow: hidden;
    margin-top: 20px;
    color: #70C3FB;
    text-align: right;
    font-size: 12px;
    li {
        display: inline-block;
        margin-right: 15px;
        i {
            display: inline-block;
            margin-right: 5px;
            width: 12px;
            height: 12px;
            border-radius: 2px;
        }
        i,
        span {
            vertical-align: middle;
        }
    }
}