.crux {
    overflow: hidden;
    .list {
        position: relative;
        float: left;
        overflow: hidden;
        padding: 12.5px 500px 12.5px 0;
        width: 100%;
        height: 155px;
    }
    .item {
        float: left;
        width: 25%;
        text-align: center;
    }
    :global {
        .tile-body {
            overflow: hidden;
        }
    }
}

.key {
    height: 20px;
    color: #70C3FB;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.value {
    padding: 0 5px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
}

.apdex {
    position: relative;
    float: left;
    margin-left: -430px;
    padding: 12.5px 0;
    width: 430px;
    height: 155px;
    :global {
        .ant-progress {
            float: left;
            width: 130px;
            height: 100%;
        }
        .ant-progress-text-hack {
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 20px;
            line-height: 1;
            transform: translateY(-50%);
        }
    }
    .range {
        float: left;
        margin-left: 10%;
        height: 100%;
        font-size: 13px;
        &:after {
            position: absolute;
            top: 50%;
            left: -12%;
            display: block;
            margin-top: -35px;
            width: 2px;
            height: 70px;
            background-color: #043C68;
            content: "";
        }
        :global {
            .iconfont {
                font-size: 28px;
            }
            .iconfont,
            span {
                vertical-align: middle;
            }
            .icon-manyi {
                color: #16EC78;
            }
            .icon-yiban {
                color: #F8B551;
            }
            .icon-bumanyi {
                color: #FE1B2D;
            }
        }
    }
}

.high {
    color: #16EC78;
    :global {
        .ant-progress-circle-path {
            stroke: #16EC78;
        }
    }
}

.middle {
    color: #F8B551;
    :global {
        .ant-progress-circle-path {
            stroke: #F8B551;
        }
    }
}

.low {
    color: #FE1B2D;
    :global {
        .ant-progress-circle-path {
            stroke: #FE1B2D;
        }
    }
}

.nodata {
    color: #FFFFFF;
    :global {
        .ant-progress-circle-path {
            stroke: transparent;
        }
    }
}

.dashborad-text {
    position: absolute;
    top: 110px;
    left: 40px;
    color: #FFFFFF;
    font-size: 13px;
    span,
    i {
        vertical-align: middle;
    }
    :global {
        .iconfont {
        }
    }
}