.heatmap-item-wrap {
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
}

.no-heatMap{
    font-size: 18px;
    color: #4b8fba;
    text-align: center;
    margin-top: 150px;
}

.heatmap-item {
    display: inline-block;
    overflow: hidden;
    width: 250px;
    height: 188px;
    border: 4px solid #183A61;
    line-height: 188px;
    transition: .3s;
    .banner {
        display: inline-block;
        margin-top: 100%;
        padding: 10px 20px 10px 5px;
        width: 100%;
        background-color: rgba(20, 46, 78, .8);
        vertical-align: middle;
        line-height: 1.5;
        transition: .3s;
        h3,
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &:hover {
        transform: scale(1.1);
        .banner {
            margin-top: 0;
        }
    }
}