@import '../../../assets/styles/_mixin';
$var_default:(color1:#1681c4,color2:#1D6AA7,color3:#fff,color4:#41A4E2,color5:#0D5990,
color6:rgb(29, 68, 113),color7:#153253,color8: transparent,color9:#0D3F67,collor10:#0d3956,
color11:#306285,color12:#1d597b,color13:#2987ab,color14:#5db3e4
);
$var_white:(color1:#4082e6,color2:#fff,color3:#6c7480,color4:#e4e7eb,color5:#fff,
color6:#f8fbfd,color7:#f8fbfd,color8: #e4e7eb,color9:#fff,color10:#fff,
color11:#d5ddeb,color12:#4082e6,color13:#4082e6,color14:#4082e6
);
@mixin getTheme($map){
    .apps-bar {
        margin: 20px 0;
        height: 40px;
        line-height: 40px;
         :global {
            .ant-radio-group {
                float: right;
                padding-right: 15px;
                font-size: 14px;
                .ant-radio-button-wrapper {
                    color: black;
                }
                .ant-radio-button-wrapper-checked {
                    color: white;
                    background: map-get($map,color1);
                }
            }
        }
    }
    
    .is-save-ip-modal{
        :global{
            .ant-modal ,.ant-modal-content {
                background-color: map-get($map,color2);
                
            }
            .ant-confirm-body .ant-confirm-content{
                font-size: 16px;
                color: map-get($map,color3);
            }
            .ant-confirm-btns{
                margin-top: 30px;
                text-align: center;
                float: none;
                // .ant-confirm .ant-confirm-btns button + button{
                //     margin-left: -135px;
                // }
            }
           
            .ant-btn-lg{
                color: #fff;
                background-color: #108ee9;
                border-color: #108ee9;
            }
        }
    
    }
    .icon{
        cursor: pointer;
    }
    .global-setting-modal{
        .setting-modal{
            .modal-inner{
                display: flex;
                padding: 10px 0 20px 0;
            }
            .setting-map{
                display: inline-block;
                padding: 20px;
                width: 49%;
                height: 600px;
                background: map-get($map,color6) !important;
                margin-left: 2%;
                margin-right: 30px;
                border: 1px solid map-get($map,color8);
            }
            .tab-content{
                display: block;
                /* width: 360px; */
                float: right;
                width: 44%;
                // margin-top: 10%;
                margin-right: 20px;
                .clearfix{
                    color: map-get($map,color14);
                    margin-bottom: 10px;
                        :global{
                            .ant-switch-checked{
                                margin-left:25px;
                                border-color: #93b5cf;
                            }
                            .ant-switch{
                                margin-left: 25px;
                            }
                        }
                }
                .common-tab{
                    :global{
                            .ant-table{
                                border: 1px solid map-get($map,color8);
                            }
                            .ant-table-tbody > tr {
                                background-color: map-get($map,color9);
                                color: map-get($map,color3);
                            }
                            .ant-table-thead > tr > th {
                                background: map-get($map,color7);
                                color: map-get($map,color3);
                                font-weight: 300;
                                height: 30px;
                                border-bottom: 1px solid #7990a2;
                            }
                            .ant-table-tbody > tr > td {
                                height: 54px;
                                border-bottom: 1px solid map-get($map,color8);
                                .anticon-plus-circle:before{
                                    color: #439c42;
                                    font-size: 16px;
                                }
                                .anticon-cross-circle:before{
                                        color: #ff5251;
                                        font-size: 16px;
                                }
                                // }
                            }    
                    }
                }
                
            }
        }
        :global{
            .ant-modal{
                width: auto !important;
                .ant-modal-content {
                    width: 90%;
                    // height: 800px;
                    margin-left: 5%;
                    background-color: map-get($map,color2);
                    .ant-modal-close{
                        color: map-get($map,color3);
                    }
                }
                .ant-modal-header{
                    height: 70px;
                    background: map-get($map,color2);
                    padding: 35px;
                    border-bottom: none;
                    .ant-modal-title{
                        color: map-get($map,color3);
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
            }
            
        }
    }
    
    .ip-input{
        color: map-get($map,color3);
        font-size: 12px;
        width: 120px;
        height: 26px;
        border: 1px solid map-get($map,color11);
        border-radius: 4px;
        padding-left: 6px;
        background: map-get($map,color10);;
    }
    .save-btn{
        height: 30px;
        width: 110px;
        background: map-get($map,color12);
        // color: map-get($map,color3);
        margin-top: 15px;
        border-color: map-get($map,color13);
    }
    
    // .plus-circle{
    //     color: green;
    //     font-size: 16px;
    // }
    .create-app {
        float: left;
        height: inherit;
        font-size: 13px;
        line-height: inherit;
    }
    
    .settingBtn {
        float: left;
        margin-left: 15px;
        font-size: 13px;
        line-height: inherit;
    }
    
    .sort-app {
        // background-color: #214D81;
    }
    
    .btn-wrapper {
        float: right;
        &>div {
            display: inline-block;
        }
    }
    
    .create-app-form-wrap {
        padding: 20px;
        background: map-get($map,color2);
        color: map-get($map,color3);
         :global(.ant-form-item) {}
    }
    .input-style{
        border: 1px solid map-get($map,color4);
        background-color: map-get($map,color5);
        color:  map-get($map,color3);
    }
    
    .create-app-title {
        line-height: 30px;
    }
    
    .create-app-success-tip {
        margin: 10px auto 40px auto;
        text-align: center;
        line-height: 23px;
        font-size: 16px;
        color: #fff;
        .success-icon {
            &:before {
                color: #65da1a
            }
        }
    }
    .btn-wrap-success {
        padding-bottom: 20px;
        text-align: center;
        line-height: 35px;
         :global(.btn) {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    
    .btn-wrap {
        margin-top: 20px;
        text-align: center;
        line-height: 35px;
         :global(.btn) {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@include setTheme($var_default,$var_white);
