.pie {
    :global {
        .tile-body {
            height: 270px;
        }
    }
    .pie-chart{
        display: inline-block;
        width: 33.33% !important;
    }
    :global(.chart) {
        height: 200px;
    }
}
 