@import './_mixin';
// i.fa,
// i.iconfont {
//     vertical-align: middle;
// }

$var_default: (color1:#1681C4,color2: #10335B, color3: #ffffff,color4: rgba(0, 0, 0, .2), color5: none,color6:#fff);
$var_white: (color1: #4082e6,color2:#ffffff,color3: #6c7480,color4: #fff, color5: 1px solid #e4e7ec,color6:#6c7480);

@mixin getTheme($map){
    // 按钮
.btn {
    display: inline-block;
    padding: 0 20px;
    border-radius: 2px;
    background-color: map-get($map,color1);
    color: #FFFFFF;
    border: 1px solid map-get($map,color1);
    cursor: pointer;
    transition: .2s;
    &.active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .15);
        cursor: default;
    }
    &.disabled {
        cursor: not-allowed;
    }
    i.fa,
    i.iconfont {
        margin-right: 5px;
    }
}

// 图表
.chart {
    width: 100%;
    height: 300px;
}

// iconfont
.iconfont {
    color: #6CA4CD;
    font-size: 20px;
}

.icon-bangzhu {
    font-size: 21px;
    vertical-align: middle;
}

// 磁贴容器
.tile-head {
    font-weight: bold;
    padding: 0 20px;
    height: 40px;
    background-color: map-get($map,color2);
    color: map-get($map,color3);
    font-size: 13px;
    line-height: 40px;
    border: map-get($map, color5);

}

.tile-body {
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: map-get($map,color4);
    border:map-get($map, color5);
}

// 搜索框
.search-bar {
    // width: 200px;
}

// radio选择器
.radio {
    position: absolute;
    font-size: 14px;
    top: 15px;
    right: 2%;
    z-index: 9;
    color: map-get($map,color6);
}
}
@include setTheme($var_default,$var_white);
