<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://web.uyun.cn/frontend/Layout-public.min.css">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="react" class="react"></div>
    <script>
        window.PUBLIC_MENU_CONF = {
            "productId": 1002,
            "items": null
        }
    </script>
    <script src="https://web.uyun.cn/frontend/Layout-public.min.js"></script>
</body>

</html>